<div class="category-swiper-shell">
  <button
    type="button"
    class="category-swiper-nav category-swiper-prev"
    aria-label="Previous categories"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div #swiperEl class="swiper category-swiper">
    <div class="swiper-wrapper">
      <a
        *ngFor="let category of categories"
        [routerLink]="['/category', category.name, category._id]"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="swiper-slide category-slide"
        [ngStyle]="{ 'background-color': category.color || '#888' }"
      >
        <div class="category-slide-inner">
          <div
            *ngIf="category.images && category.images.length > 0"
            class="category-image-wrap"
          >
            <img
              [src]="category.images[0]"
              [alt]="category.name"
              class="category-image"
            />
          </div>
          <span class="category-name">{{ category.name }}</span>
        </div>
      </a>
    </div>
  </div>

  <button
    type="button"
    class="category-swiper-nav category-swiper-next"
    aria-label="Next categories"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
