.nav-link {
  position: relative;
  padding-bottom: 4px;
  font-weight: 600;
  color: var(--color-text);
  font-size: 16px;
}

.nav-link:hover {
  color: var(--color-accent-hover);
}

.active-link {
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

/* Badge ko notification icon pe adjust karna */
