<div class="app-input">
  <label *ngIf="label">{{ label }}</label>

  <div class="input-wrapper">
    <input
      [type]="hide ? 'password' : 'text'"
      [formControlName]="controlName"
      [disabled]="disabled"
      class="form-input"
      placeholder="Enter your password"
    />
    <button type="button" class="toggle-btn" (click)="toggle()" tabindex="-1">
      {{ hide ? "🙈" : "👁️" }}
    </button>
  </div>

  <div class="text-red-500 mt-1" *ngIf="showError">
    <span *ngIf="control.errors?.['required']"> {{ label }} is required </span>
    <span *ngIf="control.errors?.['minlength']">
      Minimum length is {{ control.errors?.['minlength'].requiredLength }}
    </span>
  </div>
</div>
