<div class="location-fields grid grid-cols-1 sm:grid-cols-3 gap-3">
  <mat-form-field appearance="outline" class="w-full location-field">
    <mat-label>Country</mat-label>
    <input
      matInput
      formControlName="country"
      [matAutocomplete]="countryAuto"
      placeholder="Search country"
      [disabled]="loadingCountries"
      (blur)="onCountryBlur()"
    />
    <mat-autocomplete
      #countryAuto="matAutocomplete"
      (optionSelected)="onCountrySelected($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filterOptions(countryNames, parent.form.get('country')?.value)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="showCountryError">{{ getCountryErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full location-field">
    <mat-label>State / Province</mat-label>
    <input
      matInput
      formControlName="state"
      [matAutocomplete]="stateAuto"
      placeholder="Search state"
      [disabled]="!parent.form.get('country')?.value"
      (blur)="onStateBlur()"
    />
    <mat-autocomplete
      #stateAuto="matAutocomplete"
      (optionSelected)="onStateSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filterOptions(stateNames, parent.form.get('state')?.value)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="showStateError">{{ getStateErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full location-field">
    <mat-label>City</mat-label>
    <input
      matInput
      formControlName="city"
      [matAutocomplete]="cityAuto"
      placeholder="Search city"
      [disabled]="!parent.form.get('state')?.value"
      (blur)="onCityBlur()"
    />
    <mat-autocomplete
      #cityAuto="matAutocomplete"
      (optionSelected)="onCitySelected($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filterOptions(cityNames, parent.form.get('city')?.value)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="showCityError">{{ getCityErrorMessage() }}</mat-error>
  </mat-form-field>
</div>
