<div class="app-container flex flex-col items-center justify-center min-h-screen px-4">
  <app-ui-card borderRadius="0.5rem" class="w-full max-w-xl">
    <div class="flex flex-col items-center justify-center my-2">
      <img
        *ngIf="logo?.image"
        [src]="logo.image"
        [alt]="logo.name || 'Logo'"
        class="w-[40px] h-[40px] md:w-[70px] md:h-[70px] rounded-full object-cover"
      />
      <h3 class="text-center text-xl font-semibold mb-4">LOGIN TO MY HOME BAZAR</h3>
      <!-- <div class="w-full my-4 rounded-lg border border-green-300 bg-green-50 p-4 text-center">
        <h4 class="mb-2 text-lg font-bold text-green-700">📧 Note</h4>

        <p class="text-sm leading-6 text-gray-700">
          A verification email has been sent to your email address. If you don't receive it within a
          few minutes (even after checking your Spam/Junk folder), you may have entered an incorrect
          email address.
          <span class="font-semibold">
            Unverified accounts are automatically removed after
            <span class="text-red-600">24 hours</span>.
          </span>
        </p>
      </div> -->
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="signin-form flex flex-col gap-6 w-full p-2"
    >
      <!-- Email -->
      <app-ui-input
        label="Email"
        type="email"
        placeholder="Enter your email"
        [controlName]="'email'"
      ></app-ui-input>

      <!-- Password -->
      <app-ui-password label="Password" [controlName]="'password'"></app-ui-password>

      <!-- Links -->
      <div class="flex justify-between text-sm">
        <a
          routerLink="/forgot-password"
          class="text-[var(--color-accent)] hover:text-[var(--color-accent-hover)] transition-colors"
        >
          Forgot Password?
        </a>
        <a
          routerLink="/signup"
          class="text-[var(--color-accent)] hover:text-[var(--color-accent-hover)] transition-colors"
        >
          Don't have an account? Sign Up
        </a>
      </div>
      <!-- Submit -->
      <app-ui-button
        label="Sign In"
        type="submit"
        [disabled]="form.invalid"
        variant="accent"
      ></app-ui-button>
    </form>
  </app-ui-card>
</div>
